
.actions{
    padding: 10px;
    display: flex;
    justify-content: end;
    flex-direction: row;
    
    
}
.cardEm {
    padding-left: 10px;
    padding-right: 10px;
   
}
.getEm{
    padding-left: 10px;
    padding-right: 10px;
}
.criarLC {
    text-align: end;
  

}
.itemEm {
    border: 0.5px solid rgb(4, 0, 0);
    border-radius: 6px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;

} 
.corCard{
    background-color: #d8dadc;
   
}
