.flexRow{
    display: flex;
    flex-direction: end;
}
.actions{
    padding: 10px;
    display: flex;
    justify-content: end;
    flex-direction: row;
   
   
}
.head{
    align-items: center;
}

.cardEm {
    padding-left: 10px;
   
}
.getEm{
    padding-left: 10px;
    padding-right: 10px;
}
.criarLC {
    text-align: end;

}